.button {
  color: $color-white;
  text-decoration: none;
  background-color: $color-blue;
  font-size: 21px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  display: block;
  width: 280px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin: 0 auto;

  &--smaller {
    width: 180px;
  }
}

@media (min-width: $tablet-width) {
  .button__text {
    padding-right: 14px;
  }
}

@media (min-width: $desktop-width) {
  .button__text {
    padding-right: 0;
  }
}
