.description {
  text-align: center;
  line-height: 26px;
}

.description__header {
  font-size: 18px;
  font-weight: bold;
  color: $color-black;
  margin-top: 43px;
}

.description__text {
  color: #333333;
  font-size: 14px;
}
