.main-menu__list {
  margin: 0;
  padding: 0;
}

.main-menu__toggle {
  position: absolute;
  top: 17px;
  right: 20px;

  polygon {
    fill: #ffffff;
  }

  g {
    fill: #81b3d2;
  }
}

@media (min-width: $tablet-width) {
  .main-menu__toggle {
    display: none;
  }
}
