.main-menu__list {
  margin: 0;
  padding: 0;
}

.main-menu__toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 17px;
  right: 20px;
}

@media (min-width: $tablet-width) {
  .main-menu__toggle {
    display: none;
  }
}
