.modal {
  text-align: center;
  outline: 1px solid red;
  display: none;
}

.modal__caption {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  padding-top: 46px;
}

.modal__text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.modal__footer {
  background-color: #f2f2f2;
}

.modal__button {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .modal--wide {
    width: 640px;
    margin: 0 auto;
  }

  .modal--short {
    width: 400px;
    margin: 0 auto;
  }

  .modal__caption {
    font-size: 30px;
  }

  .modal__button {
    width: 272px;
  }

  .modal__button--wide {
    width: 458px;
    margin-top: 44px;
    margin-bottom: 44px;
  }

  .modal__text {
    width: 277px;
    margin: 39px auto;
  }
}
