.photo-list {
  text-align: center;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-size: 14px;
  line-height: 24px;
}

.photo-list__caption {
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.photo-list__author {
  color: #333333;
  text-transform: none;
  text-align: left;
  margin: 0;
}

.photo-list__like-count {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.photo-list__item {
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.photo-list__wrapper {
  width: 280px;
  margin: 0 auto;
}

.photo-list__image {
  margin-top: 22px;
}

@media (min-width: $tablet-width) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
    align-content: flex-start;
  }

  .photo-list__item {
    border: none;
    display: flex;
    flex-direction: column;
    width: 324px;

    &:first-child {
      width: 648px;
    }

    &:last-child {
      border: none;
    }
  }

  .photo-list__wrapper {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
  }

  .photo-list__like-count {
    align-self: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .photo-list {
    width: 100%;
    justify-content: center;
  }

  .photo-list__wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo-list__item {
    width: 400px;

    &:first-child {
      width: 100%;
    }
  }
}
