.player__screen {
  text-align: center;
}

.player__control {
  width: 280px;
  margin: 0 auto;
}

.player__tools {
  background-color: #e5e5e5;
}

.player__scroll {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.player__line {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

.player__pointer {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $color-white;
}

@media (min-width: $tablet-width) {
  .player {
    width: 648px;
    margin: 0 auto;
  }

  .player__control {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .player {
    width: 800px;
    margin: 0 auto;
  }
}
