.player {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

/*.player__screen {
  text-align: center;
}
*/
.player__control {
  width: 280px;
  position: absolute;
  top: 158px;
  left: 20px;
}

.player__tools {
  background-color: #e5e5e5;
}

.player__scroll {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  position: relative;
}

.player__line {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 235px;
  margin: 0 auto;
}

.player__pointer {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 17px;
  left: 57px;
  border-radius: 50%;
  background-color: $color-white;
}

@media (min-width: $tablet-width) {
  .player {
    width: 648px;
  }

  .player__screen {
    width: 100%;
    height: 406px;
  }

  .player__control {
    width: 100%;
    top: 407px;
    left: 0;
  }

  .player__scroll {
    padding-top: 45px;
    padding-bottom: 45px;
    width: 100%;
    position: relative;
  }

  .player__line {
    width: 389px;
    margin-left: 92px;
  }

  .player__pointer {
    top: 41px;
    left: 206px;
  }

  .player__tools {
    position: absolute;
    top: 10px;
    width: 648px;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .player {
    width: 800px;
  }

  .player__screen {
    width: 100%;
  }

  .player__scroll {
    width: 100%;
  }

  .player__tools {
    width: 100%;
  }
}
