.profile {
  line-height: 26px;
}

.profile__item {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 24px;
}

.profile__caption {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.profile__title {
  font-size: 14px;
  color: #333333;
}

.profile__field {
  border: none;
  background-color: $color-grey;
  height: 58px;
  margin-bottom: 20px;

  &::placeholder {
    text-transform: none;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: $color-black;
  }
}

.profile__textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 279px;
  height: 160px;

  &::placeholder {
    text-transform: none;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: $color-black;
  }
}

@media (min-width: $tablet-width) {
  .profile {
    display: flex;
    width: 648px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .profile__item {
    width: 323px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: flex-end;
    justify-content: flex-end;

    &:first-child {
      justify-content: flex-end;
    }
  }

  .profile__caption {
    font-size: 18px;
  }
}
