.profile {
  line-height: 26px;
}

.profile__item {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 24px;
}

.profile__caption {
  text-align: center;
}

.profile__title {
  font-size: 14px;
  color: #333333;
}

.profile__field {
  border: none;
  background-color: $color-grey;
  height: 58px;
  margin-bottom: 20px;
}

.profile__textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 279px;
  height: 160px;
}

.profile__field::placeholder,
.profile__textarea::placeholder {
  text-transform: none;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: $color-black;
}
