.promo {
  width: 320px;
  margin: 0 auto;
  height: 389px;
  background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 87%, cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@2x.jpg");
  }

  text-align: center;

  &--small {
    height: 156px;
    background-image: url("../img/text-sedona.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-size: 72%, cover;
    background-position: 50% 43%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/text-sedona.svg"), url("../img/bg-back-mobile@2x.jpg");
    }
  }
}

@media (min-width: $tablet-width) {
  .promo {
    width: $tablet-width;
    height: 518px;
    margin: 0 auto;
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 47%;
    background-size: 60%, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@2x.jpg");
    }

    &--small {
      height: 292px;
      background-image: url("../img/text-sedona.svg"), url("../img/bg-back-tablet@1x.jpg");
      background-size: 60%, 100%;
      background-position: 50% 45%, 50% 100%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/text-sedona.svg"), url("../img/bg-back-tablet@2x.jpg");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: $desktop-width;
    margin: 0 auto;
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 38%, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-desktop@2x.jpg");
    }

    &--big {
      height: 518px;
    }

    &--small {
      height: 301px;
      background-image: url("../img/text-sedona.svg"), url("../img/bg-back-desktop@1x.jpg");
      background-size: 38%, 100%;
      background-position: 50% 46%, 50% 100%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/text-sedona.svg"), url("../img/bg-back-desktop@2x.jpg");
      }
    }
  }
}
