.promo {
  width: 320px;
  margin: 0 auto;
  height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  text-align: center;

  &--small {
    height: 156px;
  }
}

.promo__image {
  margin-top: 90px;
}

@media (min-width: $tablet-width) {
  .promo {
    width: $tablet-width;
    margin: 0 auto;

    &--small {
      height: 292px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: $desktop-width;
    margin: 0 auto;

    &--big {
      height: 518px;
    }

    &--small {
      height: 301px;
    }
  }
}
