.reason-item {
  background-color: $color-blue;
  color: $color-white;
  text-align: center;
}

.reason-item__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  padding-top: 45px;
}

.reason-item__text {
  font-size: 14px;
  line-height: 21px;
}

.reason-item__image {
  margin-top: 31px;
}
