.site-list {
  background-color: $color-blue;
  list-style: none;
  text-align: center;
}

.site-list__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: $color-white;
  line-height: 40px;

  &:visited {
    color: $color-white;
  }
}

.site-list__item {
  padding: 8px 0;
}

@media (min-width: $tablet-width) {
  .site-list {
    background-color: $color-white;
    display: flex;
    justify-content: space-around;
  }

  .site-list__link {
    font-size: 14px;
    line-height: 26px;
    color: $color-black;

    &:visited {
      color: $color-black;
    }
  }
}
