.social__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  width: 151px;
  margin: 0 auto;
  justify-content: space-between;
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: $color-blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
