.suggestion {
  text-align: center;
}

.suggestion__caption {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.suggestion__text {
  font-size: 14px;
  line-height: 1.71;
  color: #333333;
  margin-bottom: 40px;
}
